<h1 class="text-center">Eat-Da-Burger</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 text-center">
      <h2>Cooked Burgers</h2>
      <ul class="list-group">
        {{#each burgers}}
          {{#unless this.devoured}}
            <li class="list-group-item">
              {{this.id}} {{this.name}}
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>  
    <div class="col-sm-6 text-center">
      <h2>Devoured Burgers</h2>

      <ul class="list-group">
        {{#each burgers}}
          {{#if this.devoured}}
            <li class="list-group-item">
              {{this.id}}. {{this.name}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>    
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Add a Burger</h2>
      <form class="create-form">

        <div class="form-group">
          <label for="ba">Type of Burger:</label>
          <input type="text" id="ba" name="name">
        </div>
        <button type="submit">Add Burger</button>
      </form>
    </div>
  </div>
</div>  
