body {
  background-color: burlywood;
}

/* Getting rid of default bootstrap button focus styling */
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.row:first-child {
  margin-bottom: 10px;
}

.billboard {
  margin-bottom: 10px;
  border: 5px solid brown;
  background-color: #ffd9a7;
  padding-bottom: 43px;
  padding-top: 5px;
  box-shadow: 0px 0 1.3vw 1px #4f4f4f;
}

.list-group {
  position: relative;
}

.list-group-item {
  background-color: #f9c98b;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#baked .list-group-item {
  padding-right: 84px;
}

#devoured .list-group-item {
  padding-right: 48px;
}

.cookie-mod {
  position: absolute;
  margin-right: 10px;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.delete-cookie:hover .fa-trash-alt {
  color: red;
}

.devour-cookie:hover .fa-cookie-bite {
  color: purple;
}

.modify-cookie:hover .fa-pencil-alt {
  color: orange;
}

.modify-cookie {
  margin-right: 48px;
}

#modal-opener {
  position: absolute;
  bottom: -36px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: brown;
  font-size: 32px;
}

#plus {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #16da16;
  vertical-align: top;
  font-size: 16px;
}

#cookie-adder {
  display: inline;
}

.modal-title {
  font-size: 1.25em;
}

#cookieModal .modal-content {
  color: white;
  background-color: black;
  border: 5px solid sandybrown;
  font-family: 'Finger Paint', cursive;
  caret-color: white;
  font-size: 24px;
}

#cookieModal .modal-content div {
  border: 0;
}

#cookieModal hr {
  width: 90%;
  border-radius: 50%;
  border-top: 2px solid rgba(255, 255, 255, 0.35);
}

#cookieModal .modal-body * {
  margin: 0;
  height: 100%;
}

#cookieModal input {
  color: white;
  background-color: transparent;
  border: none;
}

#cookieModal input:focus {
  border: none;
  text-decoration: underline;
  text-decoration-skip: whitespace;
  outline: none;
}

#exit {
  color: white;
  opacity: 1;
}

@media screen and (min-width: 767.98px) {
  .billboard {
    max-width: 49%;
    margin-bottom: 0;
  }
  .billboard:first-child {
    margin-right: 2%;
  }
}